/* Layout tổng */
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* LEFT */
.left {
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(49, 49, 49, 0.3) 30%, rgba(0, 0, 0, 0.55) 55%), url("img/background.jpg");
}

.menu {
    position: relative;
    top: 72px;         /* top-18 → 18 * 4 = 72px */
    left: 92px;        /* left-23 → 23 * 4 = 92px */
    width: 124px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.menu i {
    padding: 14px 16px; /* px-4 py-3.5 */
    font-size: 20px;
}

.logo-social {
    display: flex;
    flex-direction: column;
    gap: 70px;         /* gap-70 → giữ nguyên */
    color: white;
    padding-left: 226px;
    padding-top: 440px;
    align-items: center;
}

.logo p {
    font-size: 38px;
    font-weight: 600;
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons i {
    font-size: 30px;
}

/* RIGHT */
.right {
    width: 60%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 458px;
}

.f1st {
    margin-bottom: 44px; /* mb-11 → 11 * 4 */
}
.title {
    font-size: 30px; /* text-3xl */
    font-weight: bold;
    margin-bottom: 8px;
}

.sub {
    font-size: 16px;
    color: #667085;
    font-weight: 500;
    margin-bottom: 36px;
}

/* Input fields */
.fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.field {
    display: flex;
    gap: 16px;
    padding: 20px 16px;  /* px-4 py-5 */
    background: #F2F4F7;
    border-radius: 8px;
}

.field i {
    width: 24px;
    height: 24px;
}

.field input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #98A2B3;
}

/* NEXT button */
.next-btn {
    background: #1271ef;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 28px;
    border-radius: 8px;
    width: 132px;   /* w-33 → 33 * 4 px = 132px */
    height: 60px;   /* h-15 → 15 * 4 px = 60px */
    cursor: pointer;
    border: none;
}

/* bottom text */
.bottom-text {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    padding: 24px 0;
    border-top: 1px solid #DFDFDF;
    font-size: 16px;
    font-weight: 500;
    color: #475467;
}

.bottom-text .login {
    font-weight: 600;
    color: #2E90FA;
}
