* {
  box-sizing: border-box;
}

:root {
  font-family: 'Inter', sans-serif;
  background-color: #050614;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

/* Tùy chỉnh thanh cuộn cho chuyên nghiệp */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050614;
}
::-webkit-scrollbar-thumb {
  background: #1ce7d8;
  border-radius: 10px;
}