body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#74ebd5, #9face6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main {
    background: #ffff;
    padding: 2% 2%;
    border-radius: 20%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    width: 400px;
}

.form h1 {
    text-align: center;
    text-transform: uppercase;
}

.form h3 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
    color: blue;
    margin-bottom: 5px;
}

.form-group input {
    padding: 5px;
    border: 1px solid #9face6;
    border-radius: 6px;
    font-size: 14px;
    outline: navy;
    transition: border-color 0.2s ease;
}

.form-message {
    font-size: 15px;
    color: red;
    margin-top: 5px;

}

.btn-register {
    margin-top: 5px;
    text-align: center;
}

.btn-register button{
    background-color: #74ebd5;
    border: 2px solid;
    border-radius: 5px;
}

